* {
    margin: 0;
    padding: 0;

}
#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 500px;
    height: 600px;
    margin: 0 auto;
}
.content {
    text-align: center;
}